.jumbotron {
  padding: 7rem 0 0 0 !important;
  .container {
    h1 {
      font-size: 3.4rem;
      font-weight: 300;
      line-height: 1.2;
    }
    width: 70%;
    img {
      border-radius: 5%;
    }
    .second-icon {
      height: 100px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .jumbotron {
    .container {
      h1 {
        font-size: 1.5rem;
        margin-top: 15px;
      }
      h2 {
        font-size: 1rem;
      }
      img {
        max-width: 70%;
      }
    }
  }
}
